body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 75vh;
    text-align: center;
}

.stages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 580px;
}

.center-image {
    height: 350px;
    border-radius: 50%;
}